<form action="/artist-search" method="GET">
    <label for="name-input">Artist Name:</label>
    <input
        id="name-input"
        name="artistName"
        value=""
        type="text"
        placeholder="Type the Artist"
    />

    <button type="submit">Search for an Artist</button>
    <img src="/lab-express-spotify/public/images/spotify-background.jpeg"
</form>